{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/resetPassword" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="currentPassword" placeholder="Current password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="newPassword" placeholder="New password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmedNewPassword" placeholder="Confirm new password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Reset</button>
    </form>
{% endblock %}


